{% extends 'admin/admin_base.html' %}

{% block 'main' %}
<form>
  <legend>Let's make you a badge</legend>
  <label>Badge Name</label>
  <input type="text" placeholder="My Very Fancy Badge"/>
  <span class="help-block">This is the name for your badge, it should be descriptive, but also awesome.</span>
  <label>Badge Description</label>
  <textarea rows="5"></textarea>
  <span class="help-block">A description of your badge, this will appear in every assertion created from this badge.</span>
  <button type="submit" class="btn">Create</button>
</form>
{% endblock %}
