{% extends "admin/base.html" %}
{% block "main" %}
<h1>Badges (<a href="/admin/badge">Create a new badge</a>)</h1>
<ul>
{% for badge in badges %}
  <li>
    <a href="/admin/badge/{{ badge.shortname }}">{{ badge.name }}</a>
    ({{ badge.shortname }})
  </li>
{% endfor %}

<h1>Behaviors (<a href="/admin/behavior">Create a new behavior</a>)</h1>
{% for behavior in behaviors %}
  <li>
    <form method="post" action="/admin/behavior/{{ behavior.shortname }}" class="remove-behavior js-remove-behavior">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="csrf" value="{{ csrf }}">
      <strong>{{ behavior.name }}</strong> (<code>{{ behavior.shortname }}</code>)
      <br>{{ behavior.description }}
      <br><a href="" class="js-show-remove">remove?</a>
      <input type="submit" value="Remove behavior" class="btn btn-danger js-remove-button"> 
   </form>
  </li>
{% endfor %}
</ul>
{% endblock %}

{% block "footer" %}
<script src="/js/badge-index.js"></script>
{% endblock %}
