{% extends "admin/base.html" %}
{% block main %}
{% if badges %}
<h1>Issue Badges</h1>
<table class="badge-list">
<tbody>
<tr>
<th class="orga">Organization</th>
<th class="prog">Program</th>
<th class="badg">Badge</th>
<th class="shrt">Shortname</th>
<th></th>
</tr>

{% for badge in badges %}
  <tr>
    <td class="orga">
      {{ badge.program.issuer.name | e}}
    </td>
    <td class="prog">
      {{ badge.program.name | e}}
    </td>
    <td class="badg">
      {{ badge.name }}
    </td>
    <td>
      <code>{{ badge.shortname }}</code>
    </td>
    <td class="oper all">
      <div class="btn-group">
        <a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/issue/{{ badge.id | e }}"><i class="icon-pencil"></i> Issue</a></li>
          <li><a href="/issue/{{ badge.id | e }}/claims/"><i class="icon-th-large"></i> Claim Codes</a></li>
        </ul>
      </div>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% else %}
<h1>No Badges to issue.</h1>
{% endif %}

{% endblock %}
