{% extends "admin/base.html" %}

{% block header %}
  <script type="text/javascript" src="{{ PERSONA_INCLUDE_JS_URL }}"></script>
  <link rel="stylesheet" href="/stylesheets/persona-buttons.css">
{% endblock %}

{% block main %}
<h1>
  <a href="#" class="persona-button dark js-persona-login">
    <span>Sign in with your Email</span>
  </a>
</h1>

<form method="post" action="/login" class="js-persona-form">
  <input type="hidden" name="assertion" value="" class="js-persona-input">
  <input type="hidden" name="csrf" value="{{ csrf }}">
</form>
{% endblock %}

{% block footer %}
  <script src="/js/login.js"></script>
{% endblock %}
