{% extends 'admin/base.html' %}
{% block 'main' %}
<form method="post" action="?">
  <legend>
    Create a new behavior
  </legend>
  {% if badgeShortname %}
    <input type="hidden" name="for-badge" value="{{ badgeShortname }}">
  {% endif %}

  <div>
    <label>Behavior Name
      <input id="name" type="text" name="name" placeholder="Some Behavior">
    </label>
    <span class="help-block">This is the name for your behavior, it should be descriptive, but also awesome.</span>
    
    <label>Shortname
      <input id="shortname" type="text" name="shortname" placeholder="some-behavior">
    </label>
    <span class="help-block">The computer-readable name for your behavior.</span>
    
    <label>Description
      <textarea id="description" type="text" name="description" placeholder="Awesome description"></textarea>
    </label>
    <span class="help-block">Description for your behavior</span>
    
    <div class="form-actions">
      <button id="create-badge" type="submit" class="btn btn-primary">Create Behavior</button>
    </div>
  </div>

</form>
{% endblock %}

{% block 'footerScripts' %}
<script src="/js/behaviors.js"></script>

{% endblock %}
