{% extends "admin/base.html" %}

{% block main %}
  <form method="post" action="?" enctype="multipart/form-data">
    <input id="name" type="hidden" name="csrf" value="{{ csrf }}">
    
    <legend>New Badge</legend>
    <div>
      <label for="name">Badge Name</label>
      <input id="name" type="text" name="name" placeholder="My Very Fancy Badge">
      <span class="help-block">
        This is the name for your badge, it should be descriptive, but
        also awesome.
      </span>
    </div>
    
    <div>
      <label for="description">Description</label>
      <textarea id="description" rows="5" name="description"></textarea>
      <span class="help-block">
        A description of your badge, this will appear in every assertion
        created from this badge.
      </span>
    </div>
    
    <div>
      <label for="criteria">Criteria</label>
      <textarea id="criteria" rows="5" name="criteria"></textarea>
      <span class="help-block">
        The criteria text for the badge. This can be markdown, but don't go
        crazy, okay? Keep it simple. That also means you'll have to escape
        markup, by using <code>&amp;lt;</code> and <code>&amp;gt;</code> instead
        of <code>&lt;</code> and <code>&gt;</code>
      </span>
    </div>
    
    <div>
      <label for="image">Image</label>
      <input type="file" name="image" accept="image/png">
      <span class="help-block">
        The image to use for the badge. It should be the greatest image
        known to man.
      </span>
    </div>
    <div class="form-actions">
      <button id="create-badge" type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
{% endblock %}

{% block footer %}
<script src="/js/admin.js"></script>
{% endblock %}

