{% extends "admin/base.html" %}

{% block page %}
  show-badge
{% endblock %}

{% block header %}
<script src="/js/admin.js"></script>
{% endblock %}

{% block main %}
<div class="row">
  <div class="span8">
    <h2>{{ badge.name }}</h2>
    {% if badge.image %}
      <img class="badge-image" src="{{ badge.imageDataURI() }}">
    {% endif %}
    <dl>
      <dt>Shortname</dt>
      <dd>{{ badge.shortname }}</dd>
      
      <dt>Description</dt>
      <dd>{{ badge.description | stupidSafe }}</dd>
    </dl>
    
    <form method="post" action="/admin/badge/{{ badge.shortname }}/behavior">
      <input id="name" type="hidden" name="csrf" value="{{ csrf }}">
      <legend>
        What triggers this badge?
        (<a href="/admin/behavior?for={{ badge.shortname }}">Create a new trigger</a>)
      </legend>

      {% if behaviors.length %}
        <div>
          <label>Trigger
          <select name="shortname">
            {% for behavior in behaviors %}
              <option value="{{ behavior.shortname }}" {% if behavior.shortname == defaultBehavior %}selected{% endif %}>
                {{ behavior.name }}
              </option>
            {% endfor %}
          </select>
          </label>
          <span class="help-block">The tag the js library passes to Clopenbadger, no spaces or special characters please!</span>
        </div>

        <div>
          <label>Trigger Count
          <input type="text" name="count" placeholder="5">
          </label>
          <span class="help-block">The number of times the user needs to activate this trigger before the badge is awarded</span>
        </div>

        <div class="form-actions">
          <button id="create-trigger" type="submit" class="btn btn-primary">
            Add this behavior
          </button>
        </div>
      {% endif %}  
    </form>
  </div><!--end trigger list span-->
  
  <div class="span4">
    <h3>Triggers</h3>
    {% if badge.behaviors.length %}
    <ul id="triggers">
      {% for behavior in badge.behaviors %}
        <li>
          <form method="post" action="/admin/badge/{{ badge.shortname }}/behavior">
            {{ behavior.shortname }}: {{ behavior.count }}
            <input id="name" type="hidden" name="csrf" value="{{ csrf }}">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="shortname" value="{{ behavior.shortname }}">
            <input type="submit" class="btn btn-link" value="remove">
          </form>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p id="no-triggers">None!<p>
    {% endif %}
  </div>
</div><!--end row 1-->
  
{% endblock %}
