{% extends "admin/base.html" %}
{% block main %}

<h1>Undo Actions</h1>

{% if records.length == 0 %}
  <p>There are no actions to undo at this time.</p>
{% else %}
  <ul>
  {% for record in records %}
    <li>
      <form action="/admin/undo/{{ record._id }}" method="post">
        <input type="hidden" name="csrf" value="{{ csrf }}">
        Deletion of <strong>{{ record.name }}</strong> on {{ record.creationDate }}
        <button type="submit" class="btn btn-mini">Undo</button>
      </form>
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% endblock %}
