{% extends "layout.html" %}
{% block content %}
<h1>
  <a class="btn btn-primary js-persona-login" href="#">Sign in</a>
</h1>

<form method="post" action="/login" class="js-persona-form">
  <input type="hidden" name="assertion" value="" class="js-persona-input">
</form>

<script type="text/javascript">
(function loginHandler () {
  var $form = $('.js-persona-form');
  var $input = $('.js-persona-input');
  var $loginLink = $('.js-persona-login');
  
  function launchBrowserId(callback) {
    return function() {
      navigator.id.get(callback, { siteName: 'OpenBadger' });
    }
  }
  
  function handleResponse(assertion) {
    if (!assertion) return false;
    $input.val(assertion);
    $form.trigger('submit');
  }
  
  $loginLink.bind('click', launchBrowserId(handleResponse));
})();
</script>
{% endblock %}