.show-badge .badge-image {
  width: 100px;
  float: left;
  margin-right: 14px;
}

.config-form input[name="secret"] {
  width: 600px;
}

.logout-form {
  display: none;
}

.remove-form input[type="submit"],
.remove-form button {
  display: none;
}

.remove-form.show-actions input[type="submit"],
.remove-form.show-actions button {
  display: inline;
}
.remove-form.show-actions a.remove-link {
  display: none;
}

.badge-name, .behavior-name {
  font-weight: bold;
  font-size: 18px;
}