.show-badge .badge-image {
  width: 100px;
  float: left;
  margin-right: 14px;
}

.config-form input[name="secret"] {
  width: 600px;
}

.logout-form {
  display: none;
}

.remove-form input[type="submit"] {
  display: none;
}

.badge-name, .behavior-name {
  font-weight: bold;
  font-size: 18px;
}