{% extends "admin/base-layout.html" %}
{% block theme_header %}
<link href="/stylesheets/csol.css" rel="stylesheet">
{% endblock %}

{% block theme_footer %}
<div class="wrapper secondary footer">
  <div class="inner-wrapper">
    <div class="container">
      <div class="upper clearfix">
        <ul class="pull-left">
          <li><a href="mailto:summeroflearning@cityofchicago.org">summeroflearning@cityofchicago.org</a></li>
          <li><span>&copy; 2013</span></li>
        </ul>
        <ul class="pull-right">
          <li><a href="#">About</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">VPAT</a></li>
        </ul>
      </div>
      <div class="lower clearfix">
        <p class="pull-left">
          More than 100 organizations across the city have joined forces to integrate learning into summer activities for youth of all ages in every Chicago neighborhood.
          <br><br>
          With your help, we'll launch the largest citywide summer learning campaign in the nation.
        </p>
        <ul class="pull-right">
          <li><a class="logo chi" href="#">City of Chicago</a></li>
          <li><a class="logo mac" href="#">MacArthur Foundation</a></li>
          <li><a class="logo moz" href="#">Mozilla</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
