{% extends "admin/base.html" %}
{% block main %}
{% if badges %}
<h1>Issue Badges</h1>
<table class="badge-list">
<tbody>
<tr>
<th class="orga">Organization</th>
<th class="prog">Program</th>
<th class="badg">Badge</th>
</tr>

{% for badge in badges %}
  <tr>
    <td class="orga">
      {{ badge.program.issuer.name | e}}
    </td>
    <td class="prog">
      {{ badge.program.name | e}}
    </td>
    <td class="badg">
      <a href="/issue/{{ badge.id | e}}">{{ badge.name }}</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% else %}
<h1>No Badges to issue.</h1>
{% endif %}

{% endblock %}
