/*general*/
html,
body {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
}
body .container > br {
  display: none;
}
#main {
  padding-top: 45px;
  padding-bottom: 25px;
}
#main > h1:first-child,
#main > h2:first-child,
#main > h3:first-child,
#main > h4:first-child,
#main > p:first-child {
  margin-top: 0px;
  padding-top: 0px;
}
#main > div > h1:first-child,
#main > div > h2:first-child,
#main > div > h3:first-child,
#main > div > h4:first-child,
#main > div > p:first-child {
  margin-top: 0px;
  padding-top: 0px;
}
ul,
ol {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.row,
[class*="span"] {
  margin-left: 0px;
}
/*navbar*/
.navbar .nav {
  float: none;
}
.navbar .nav > li > a {
  border-left: none;
  border-right: none;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background-color: inherit;
  border-left: none;
  border-right: none;
}
.navbar .nav > li:nth-child(even) {
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}
.navbar .nav > .navbar .nav > li:last-child {
  border-right: none;
}
.navbar .nav .active a,
.navbar .nav .active a:hover,
.navbar .nav .active a:focus {
  background-color: white;
  box-shadow: none;
}
.navbar .navbar-inner {
  background-image: url('../img/chalkboard_bg.jpg');
  -webkit-box-shadow: inset 0px -10px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -10px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -10px 20px 0px rgba(0, 0, 0, 0.25);
  padding-top: 1em;
}
.navbar .nav-wrap {
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 940px;
  margin-bottom: -24px;
  -webkit-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.25);
  background: white;
  text-align: center;
}
.navbar .nav-wrap ul {
  display: inline-block;
  margin: 0 0 0 0;
}
.navbar .nav-wrap ul > li {
  float: none;
  display: inline-block;
}
.navbar .nav-wrap ul > li > a {
  text-shadow: none;
  color: #333333;
  text-transform: uppercase;
}
.navbar .nav-wrap ul > li > a:focus,
.navbar .nav-wrap ul > li > a:hover {
  color: #c0c0c0;
}
.navbar .nav-wrap ul > li:last-child {
  border-right: none;
}
.navbar .brand {
  display: block;
  width: 671px;
  height: 220px;
  background-image: url('../img/csol_logo.png');
  background-repeat: no-repeat;
  margin: 0 auto;
  float: none;
  text-indent: -9000px;
}
/*footer*/
.footer {
  -webkit-box-shadow: inset 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
}
.footer a {
  color: #fff;
}
.footer a.logo {
  text-indent: -9000px;
  width: 82px;
  height: 82px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
}
.footer a.logo.chi {
  background-image: url('../img/chi.png');
}
.footer a.logo.mac {
  background-image: url('../img/mac.png');
}
.footer a.logo.moz {
  background-image: url('../img/moz.png');
}
.footer a:hover {
  color: #c0c0c0;
  text-decoration: none;
}
.footer .lower {
  border-top: 1px solid white;
  padding-top: 20px;
}
.footer .lower p {
  background-image: url('../img/csol_logo_sm.png');
  padding-left: 209px;
  background-repeat: no-repeat;
  background-position: top left;
  width: 400px;
  min-height: 131px;
  margin-bottom: 20px;
}
.footer .lower li {
  border-left: none;
  border-right: none;
}
.footer .upper {
  padding: 1em 0;
}
.footer ul li {
  display: inline-block;
}
.footer ul li > a,
.footer ul li > span {
  margin: 10px;
}
.footer ul li:first-child a {
  margin-left: 0px;
}
.footer ul li.nth-child(even) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.footer ul li.last-child {
  border-right: none;
}
/*sticky footer*/
.wrapper {
  width: 100%;
}
.wrapper .inner-wrapper {
  width: 100%;
}
.wrapper.primary {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0px 0px -250px 0px;
}
.wrapper.primary .inner-wrapper {
  padding: 0px 0px 250px 0px;
}
.wrapper.secondary {
  color: #fff;
  height: 250px;
  background-image: url('../img/chalkboard_bg.jpg');
}
/*OpenBadger Specific*/
.img.badge {
  padding:0 0 0 0;
  margin:0 0 0 0;
  border-radius:inherit;
}
