<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <link href="/stylesheets/base.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <title>{% block title %}{% endblock %}</title>
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <![endif]-->
  {% block head %}{% endblock %} 
</head>
<body>
  <div class="container">
  {% block body %}{% endblock %}
  </div>
  <script src="/js/jquery.min.js"></script>
  {% block scripts %}{% endblock %} 
</body>
</html>
